html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f6f6;
}

.box-center-outer {
    display: table;
    height: 100%;
    width: 100%;
}

.box-center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1 {
    font-weight: 700;
    text-shadow: 0 1px 1px #ccc;
}

h1 span:nth-child(1) {
    color: #666666;
}
h1 span:nth-child(2) {
    color: #ff9933;
}